div {
  border: 10px solid gold;
}
span{
  border: 1px solid red;
}
#id001{
  color: blue;
  font-size: 30px;
  border: 1px yellow dashed;
}
.class01{
  color: indigo;
  font-size: 50px;
  border: 10px gold dashed;
}
